# Automating Funnels

In the cell below we are going to be converting our excel file to a python dataframe for altering.


We define the file and sheet we are going to be working with by inputting workbook path, and the name of the sheet we are going to be working with.

In [1]:
import pandas as pd
import xlwings as xw
import re

#Excel will try to open the workbook after the line of code below is ran. The password needs to be entered
wbname = input("Enter the file name (eg.OAK5 WH Funnel 10.31.19), if you have done this step before and have not restarted the kernel just press enter : ")

if wbname == "":
    wbname= wbnamecopy

wbnamecopy = wbname
wbnameold = 'MKE1 MKE5 WH Funnel Walk In 11.1.19'


wb = xw.Book('{}.xls'.format(wbname))

reportname = input("Enter sheet name (eg.report1572545576522), if you have done this step before and have not restarted the kernel just press enter : ")
if reportname == "":
    reportname= reportnamecopy
    
reportnamecopy = reportname
sheet = wb.sheets[reportname]


df = sheet['A1:Q30000'].options(pd.DataFrame, index=False, header=True).value

df

Enter the file name (eg.OAK5 WH Funnel 10.31.19), if you have done this step before and have not restarted the kernel just press enter : OAK5 WH Funnel 10.31.19
Enter sheet name (eg.report1572545576522), if you have done this step before and have not restarted the kernel just press enter : report1572545576522

,Application eSignature Date/Time,Application ID,Step,Step: Substep,Requisition: Job Title,Requisition: Requisition Title,Location State,Requisition: Location Code: State,Candidate: Candidate Name: Candidate Name,Candidate: Current Mailing City,Candidate: Current Mailing State/Province,Candidate: Mobile Phone,Offer Out,Background Check Status,More Than One Application?,Application Withdrawn,Candidate Withdraws Detail
0,2019-10-31 11:11:00,a012I00000k6QPS,Candidate Schedule,Candidate Schedule: Shift Selection,FC Associate I,T1 Node Requisition- OAK5 - SFO East,CA,CA,Ventricia Johnson,Oakland,California,5109042529,0.0,None,1,0,None
1,2019-10-31 11:06:00,a012I00000k5pAe,Candidate Schedule,Candidate Schedule: Shift Selection,FC Associate I,T1 Node Requisition- OAK5 - SFO East,CA,CA,sandra martinez,Newark,California,5107559682,0.0,None,1,0,None
2,2019-10-31 11:00:00,a012I00000k6PK3,Candidate Schedule,Candidate Schedule: Shift Selection,FC Associate I,T1 Node Requisition- OAK5 - SFO East,CA,CA,david Ortiz,Oklahoma City,Oklahoma,4059002040,0.0,None,0,0,None
3,2019-10-31 10:04:00,a012I00000k6NHw,Background Check Info,Background Check Info: Candidate BGC Info Comp...,FC Associate I,T1 - Seasonal - Part Time - OAK5,CA,CA,Donavon Casaray,Oakley,California,9257835542,0.0,None,0,0,None
4,2019-10-31 09:06:00,a012I00000k67k1,Contingent Offer,Contingent Offer: Job Description,FC Associate I,T1 - Seasonal - Part Time - OAK5,CA,CA,Miguel Villalobos,San Jose,California,6694006225,0.0,None,0,0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29994,NaT,None,None,None,None,None,None,None,None,None,None,None,NaN,None,None,None,None
29995,NaT,None,None,None,None,None,None,None,None,None,None,None,NaN,None,None,None,None
29996,NaT,None,None,None,None,None,None,None,None,None,None,None,NaN,None,None,None,None
29997,NaT,None,None,None,None,None,None,None,None,None,None,None,NaN,None,None,None,None
29998,NaT,None,None,None,None,None,None,None,None,None,None,None,NaN,None,None,None,None

We define the sitecode by taking the first word of the filename

In [2]:
sitecode = wbname.split(' ', 1)[0]

Then we are going to be deleting the rows that don't have cell phone numbers.

In [3]:
numbers = df['Candidate: Mobile Phone']
print('Phone number amount before rows dropped is {}'.format(len(numbers)))

#Remove rows with no cell phone numbers
df1 = df[pd.notnull(numbers)]
numbers1 = df1['Candidate: Mobile Phone']

print('Phone number amount after rows dropped is {}'.format(len(numbers1)))

Phone number amount before rows dropped is 29999
Phone number amount after rows dropped is 2127

In [4]:
print(df1["Candidate: Mobile Phone"])

0       5109042529
1       5107559682
2       4059002040
3       9257835542
4       6694006225
           ...
2128    5109406269
2129    4152343181
2130    5107591270
2131    2098465224
2132    3052009475
Name: Candidate: Mobile Phone, Length: 2127, dtype: object

In the next step we clean the phone numbers, names of candidates and cities

In [27]:
#Replace characters such as "'"
df1["Candidate: Mobile Phone"] = df1["Candidate: Mobile Phone"].str.replace('(', '')
df1["Candidate: Mobile Phone"] = df1["Candidate: Mobile Phone"].str.replace(')', '')
df1["Candidate: Mobile Phone"] = df1["Candidate: Mobile Phone"].str.replace('-', '')
df1["Candidate: Mobile Phone"] = df1["Candidate: Mobile Phone"].str.replace(' ', '')
df1["Candidate: Mobile Phone"] = df1["Candidate: Mobile Phone"].str.replace('.', '')
df1["Candidate: Mobile Phone"] = df1["Candidate: Mobile Phone"].str.replace('+', '')
df1["Candidate: Mobile Phone"] = df1["Candidate: Mobile Phone"].replace(to_replace ='1[0-9]{10}', value = df1["Candidate: Mobile Phone"].str[-10:], regex = True) 
df1['Candidate: Candidate Name: Candidate Name'] = df1['Candidate: Candidate Name: Candidate Name'].str.replace("'","''")
df1['Candidate: Current Mailing City'] = df1['Candidate: Current Mailing City'].str.replace("'","''")

In [6]:
print(df1["Candidate: Mobile Phone"])

0       5109042529
1       5107559682
2       4059002040
3       9257835542
4       6694006225
           ...
2128    5109406269
2129    4152343181
2130    5107591270
2131    2098465224
2132    3052009475
Name: Candidate: Mobile Phone, Length: 2127, dtype: object

After cleaning we keep only the rows where the phone number length is 10

In [7]:
#Keep only rows where the phone number length is 10
df1['Candidate: Mobile Phone'] = df1['Candidate: Mobile Phone'].astype('str')
mask = (df1['Candidate: Mobile Phone'].str.len() == 10)
df1 = df1.loc[mask]
print(len(df1['Candidate: Mobile Phone']))

warnings.filterwarnings('ignore')

2101

The code below is to be able to use a file for dictionaries

In [8]:
'''import pandas as pd
import xlwings as xw
import re

#Excel will try to open the workbook after the line of code below is ran. The password needs to be entered
wbname_path= 'Keys Py'


wb = xw.Book('{}.xlsx'.format(wbname_path))

sheet = wb.sheets['Sheet1']

keysampledf = sheet['A1:B30000'].options(pd.DataFrame, index=False, header=False).value
keysampledf = keysampledf[pd.notnull(keysampledf[1])]

keysampledf[1] = keysampledf[1].astype('int')

keysampledf[0] = keysampledf[0].astype('str')
keysampledf[1] = keysampledf[1].astype('str')


#Delete null rows
sitecodekeys = keysampledf[0]
keysdf = keysampledf[pd.notnull(sitecodekeys)]

listid_to_sitecode = dict(zip(keysampledf[0], keysampledf[1]))
'''

"import pandas as pd\nimport xlwings as xw\nimport re\n\n#Excel will try to open the workbook after the line of code below is ran. The password needs to be entered\nwbname_path= 'Keys Py'\n\n\nwb = xw.Book('{}.xlsx'.format(wbname_path))\n\nsheet = wb.sheets['Sheet1']\n\nkeysampledf = sheet['A1:B30000'].options(pd.DataFrame, index=False, header=False).value\nkeysampledf = keysampledf[pd.notnull(keysampledf[1])]\n\nkeysampledf[1] = keysampledf[1].astype('int')\n\nkeysampledf[0] = keysampledf[0].astype('str')\nkeysampledf[1] = keysampledf[1].astype('str')\n\n\n#Delete null rows\nsitecodekeys = keysampledf[0]\nkeysdf = keysampledf[pd.notnull(sitecodekeys)]\n\nlistid_to_sitecode = dict(zip(keysampledf[0], keysampledf[1]))\n"

In [9]:
listid_to_sitecode = {"CVG":"111177",
"STC":"111199",
"BOS":"1112007",
"BVL":"1112012",
"SMT":"111198",
"SOM":"111202",
"CLE2":"1112019",
"DAU":"111194",
"CMH3":"1112021",
"OCN":"111202",
"DCM1":"1112017",
"SLC1":"111208",
"CLE3":"1112020",
"CAS":"111202",
"UWA1":"111205",
"BOS7":"111201",
"LAT":"111199",
"DPD5":"111193",
"KILN":"111166",
"SMF5":"1112016",
"PIT5":"1112011",
"SJC9":"1112008",
"DRI1":"111162",
"PNE5":"111169",
"DEN":"111189",
"DDE":"111190",
"BOS":"1112007",
"UCA1":"111202",
"PDX9":"111204",
"OAK5":"111195",
"DBO7":"1112001",
"PTH":"111202",
"FRK":"111202",
"CVG":"111177",
"STC":"111199",
"BOS":"1112007",
"BVL":"1112012",
"SMT":"111198",
"SOM":"111202",
"CLE2":"1112019",
"DAU":"111194",
"CMH3":"1112021",
"OCN":"111202",
"DCM1":"1112017",
"SLC1":"111208",
"CLE3":"1112020",
"CAS":"111202",
"UWA1":"111205",
"BOS7":"111201",
"LAT":"111199",
"DPD5":"111193",
"KILN":"111166",
"SMF5":"1112016",
"PIT5":"1112011",
"SJC9":"1112008",
"DRI1":"111162",
"PNE5":"111169",
"DEN":"111189",
"DDE":"111190",
"BOS":"1112007",
"UCA1":"111202",
"PDX9":"111204",
"OAK5":"111195",
"HPT1":"1112039",
"MSP5":"1112056",
"DPP1":"1112057",
"MKE1":"1112058", 
"MKE5":"1112058"}

In [10]:
compensation_to_sitecode = {"DBO7":"$16.25 per hour",
"PTH":"Minimum $17.25 per hour",
"FRK":"Minimum $17.25 per hour",
"CVG":"Minimum $15 per hour",
"STC":"$15.25-$17.50 per hour",
"BOS":"Minimum $15.25 per hour",
"BVL":"Minimum $15.00 per hour",
"SMT":"Minimum $17.25 per hour",
"SOM":"Minimum $17.25 per hour",
"CLE2":"Minimum $15.00 per hour",
"DAU":"$16.25 per hour",
"CMH3":"Minimum $15.00 per hour",
"OCN":"Minimum $17.25 per hour",
"DCM1":"Minimum $15.00 per hour",
"SLC1":"Minimum $15 per hour",
"CLE3":"Minimum $15.00 per hour",
"CAS":"Minimum $17.25 per hour",
"UWA1":"Minimum $15 per hour",
"BOS7":"$15.00-$16.15 per hour",
"LAT":"$15.25-$17.50 per hour",
"DPD5":"$15.00-17.00 per hour",
"KILN":"$15.60-$16.15 per hour",
"SMF5":"Minimum $15.50 per hour",
"PIT5":"Minimum $15.00 per hour",
"SJC9":"$17.25 per hour",
"DRI1":"$17.25 per hour",
"PNE5":"Minimum $15.60 per hour",
"DEN":"Minimum $15 per hour",
"DDE":"$17.25 per hour",
"BOS":"Minimum $15.00 per hour",
"UCA1":"Minimum $17.25 per hour",
"PDX9":"$15.00-$17.00 per hour",
"OAK5":"$15.40-$16.50 per hour",
"HPT1": "Minimum $15 per hour",
"MSP5":"Minimum $15 per hour",
"DPP1":"Minimum $15 per hour",
"MKE1":"$20 per hour", 
"MKE5":"$20 per hour"}

We define a function for find and replace using a dictionary

In [11]:
import re

def find_replace_multi(string, dictionary):
    for item in dictionary.keys():
        # sub item for item's paired value in string
        string = re.sub(item, dictionary[item], string)
    return string

We apply the function to be able to define our listids and compensation

In [12]:
listid = find_replace_multi(sitecode, listid_to_sitecode)
compensation = find_replace_multi(sitecode, compensation_to_sitecode)

We print them to make sure that they are right

In [13]:
print(listid)
print(compensation)
len(df1['Candidate: Mobile Phone'])

111195
$15.40-$16.50 per hour

2101

We create a dictionary with all the states to be able to use the abbreviated version

In [14]:
wrong_states = {'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'}
#inverting the wrong_states dictionary
states = {value: key for key, value in wrong_states.items()}

We use the dictionary to abbreviate the state names

In [15]:
#State 
df1["Candidate: Current Mailing State/Province"] = df1['Candidate: Current Mailing State/Province'].map(states)

We change the abbreviated version of "FC Associate" to its full name

In [16]:
#Associate Map
df1["Requisition: Job Title"] = df1["Requisition: Job Title"].str.replace('FC Associate I', 'Fulfillment Center Associate')

We create a new dataframe where we insert our altered columns and the contantenated(That was a hard word to type) columns

In [17]:
df2 = df1[['Candidate: Mobile Phone',
           'Candidate: Candidate Name: Candidate Name',
          'Candidate: Current Mailing City',
          'Candidate: Current Mailing State/Province',
          'Application ID',
           'Requisition: Job Title'
          ]]
df2.insert(5,"site_code1",sitecode)
df2.insert(7,"list_id",listid)
df2.insert(8,"site_code2",sitecode)
df2.insert(9,"compensation",compensation)
df2.insert(10,"concat",'(' + "'" + df1['Candidate: Mobile Phone'].astype(str) + "'"+","+"'" + 
           df1['Candidate: Candidate Name: Candidate Name'].astype(str) + "'"+","+"'" + 
           df1['Candidate: Current Mailing City'].astype(str) + "'"+","+"'" + 
           df1['Candidate: Current Mailing State/Province'].astype(str) + "'"+","+"'" + 
           df1['Application ID'].astype(str) + "'"+","+"'" + 
           sitecode + "'"+","+"'" + 
           df1['Requisition: Job Title'].astype(str) + "'"+","+"'" + 
           listid + "'"+","+"'" + 
           sitecode + "'"+"," + "'" +
           compensation + "'"+")"+",")

We look at the rows per state to determine which states we want to keep

In [18]:
df2['Candidate: Current Mailing State/Province'].value_counts()

CA    1651
NJ     246
NY      25
FL      24
NV      21
TX      17
DE      14
GA      11
AZ      11
NC       7
MO       6
SC       6
MI       5
OR       4
OK       4
MD       4
WA       4
OH       4
IL       4
PA       3
VA       2
NE       2
AL       2
TN       2
LA       1
ND       1
MA       1
CO       1
WI       1
DC       1
KY       1
UT       1
IN       1
MS       1
Name: Candidate: Current Mailing State/Province, dtype: int64

This line is here so the user can alter the line after with the states that she wants to keep

In [19]:
input("Determine which states you want, type them into the State variable below(cell 19), then press enter to continue")

Determine which states you want, type them into the State variable below(cell 19), then press enter to continue

''

Before we press enter, we want to change the state variable to the states that we would like to keep. If only one state is gonna be listed leave the other state as null, if not enter the state name instead of null

In [20]:
State ='CA','Null'


df2 = df2[df2['Candidate: Current Mailing State/Province'].isin(State)]

df2 = df2.sort_values(by=['Candidate: Current Mailing State/Province'])

We do a check to see how many rows we have to make sure that the whole process worked

In [21]:
len(df2['Candidate: Mobile Phone'])

1651

Our new file will be created at our desktop

In [22]:
path = r'/Users/ydemiralp/Desktop/{} For Dial.xlsx'.format(wbname)
export_excel = df2.to_excel (path, index = None, header=False)

This cell is to open the file that was created

In [23]:
xw.Book(path)

# Disclaimer - Work in Progress

The rest of these cells are a work in progress, they are experiments to be able to define our dictionaries of list-id and compensation with a file

In [24]:
#    amazondelivers

Building a dictionary for:
- site codes
- list ids
- compensation

In [25]:
listid_to_sitecode

{'CVG': '111177',
 'STC': '111199',
 'BOS': '1112007',
 'BVL': '1112012',
 'SMT': '111198',
 'SOM': '111202',
 'CLE2': '1112019',
 'DAU': '111194',
 'CMH3': '1112021',
 'OCN': '111202',
 'DCM1': '1112017',
 'SLC1': '111208',
 'CLE3': '1112020',
 'CAS': '111202',
 'UWA1': '111205',
 'BOS7': '111201',
 'LAT': '111199',
 'DPD5': '111193',
 'KILN': '111166',
 'SMF5': '1112016',
 'PIT5': '1112011',
 'SJC9': '1112008',
 'DRI1': '111162',
 'PNE5': '111169',
 'DEN': '111189',
 'DDE': '111190',
 'UCA1': '111202',
 'PDX9': '111204',
 'OAK5': '111195',
 'DBO7': '1112001',
 'PTH': '111202',
 'FRK': '111202',
 'HPT1': '1112039',
 'MSP5': '1112056',
 'DPP1': '1112057',
 'MKE1': '1112058',
 'MKE5': '1112058'}

#Excel will try to open the workbook after the line of code below is ran. The password needs to be entered
wb = xw.Book('{}.xlsx'.format(wbname_path))

sheet = wb.sheets['Sheet2']

keysampledf = sheet['A1:B30000'].options(pd.DataFrame, index=False, header=False).value
keysampledf[0] = keysampledf[0].astype('str')
keysampledf[1] = keysampledf[1].astype('str')


#Delete null rows
sitecodekeys1 = keysampledf[0]
keysdf = keysampledf[pd.notnull(sitecodekeys1)]


compensation_to_sitecode = dict(zip(keysampledf[0], keysampledf[1]))